.movies {
  background-color: #202020;
  display: flex;
}

.movies__full-container {
  margin: 0 auto;
  padding: 80px 0 100px;
  min-width: 1140px;
  border-top: 1px solid #424242;
  box-sizing: border-box;
}

.movies__preloader {
  max-width: 1140px;
  max-height: 200px;
}

.movies__not-found {
  color: #ffffff;
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.movies__grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px 24px;
}

.movies__button {
  cursor: pointer;
  margin-top: 77px;
  border: none;
  width: 1140px;
  height: 36px;
  background-color: #2F2F2F;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.movies__button:focus {
  outline: none;
}

@media screen and (max-width: 1279px) {
  .movies__full-container {
    padding: 80px 0 100px;
    min-width: 708px;
  }

  .movies__grid-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 33px 30px;
  }

  .movies__button {
    width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .movies__full-container {
    border: none;
    padding: 49px 0 79px;
    min-width: 300px;
  }

  .movies__not-found {
    font-size: 14px;
    line-height: 16px;
  }

  .movies__grid-cards {
    grid-template-columns: 1fr;
    gap: 13px 0;
  }

  .movies__button {
    width: 300px;
  }
}