.profile {
  display: flex;
  background-color: #202020;
}

.profile__full-container {
  margin: 0 auto;
  padding: 74px 0 70px;
  max-width: 410px;
}

.profile__title {
  text-align: center;
  margin: 0 auto 124px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__container {
  min-width: 410px;
  display: flex;
  justify-content: space-between;
  padding: 18px 0 16px;
  border-bottom: 1px solid #424242;
}

.profile__container:first-of-type {
  padding-top: 0;
}

.profile__question {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.profile__answer {
  margin: 0;
  padding-right: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.profile__input {
  text-align: right;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  padding: 0 5px 0 5px;
  background-color: #444444;
  border-radius: 5px;
  border: none;
}

.profile__input_error {
  color: #EE3465;
}

.profile__errors-container {
  min-height: 51px;
  display: flex;
  flex-direction: column;
}

.profile__error {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  min-height: 17px;
  color: #EE3465;
  max-width: 396px;
  margin-bottom: 5px;
}

.profile__button-container {
  align-items: center;
  margin-top: 152px;
  display: flex;
  flex-direction: column;
}

.profile__button {
  cursor: pointer;
  background-color: #202020;
  border: none;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

.profile__button:focus {
  outline: none;
}

.profile__button_type_redact {
  font-weight: 400;
  color: #FFFFFF;
}

.profile__button_type_exit {
  margin-top: 13px;
  font-weight: 500;
  color: #EE3465;
}

.profile__button_disabled {
  color: rgb(61, 61, 61);
}

@media screen and (max-width: 1279px) {
  .profile__full-container {
  padding: 236px 0 269px;
  }

  .profile__title {
    margin-bottom: 97px;
  }

  .profile__button-container {
    margin-top: 142px;
  }
}

@media screen and (max-width: 767px) {
  .profile__full-container {
  padding: 70px 0 40px;
  }

  .profile__title {
    margin-bottom: 81px;
    max-width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__container {
    min-width: 260px;
  }

  .profile__errors-container {
    min-height: 45px;
  }

  .profile__error {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button-container {
    margin-top: 317px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}